<div ng-controller="todosController">

	<form name="todoForm" ng-controller="createTodoController" ng-submit="createTodo()">
		<input name="description" ng-model="newTodo.description" type="text" placeholder="What's your todo?">
		<input type="submit" value="Put it on my list!">
		<h3>{{ notSavedError }}</h3>
	</form>

	<h2>{{ fetchingError }}</h2>

	<div>
		<input type="text" ng-model="query" />
		<button ng-click="displayAll()">All Todos</button>
		<button ng-click="displayComplete()">Complete</button>
		<button ng-click="displayIncomplete()">Incomplete</button>

		<ul ng-model="todos">
			<li ng-repeat="todo in todos | filter:query | filter:status">
				<div class="todo-border">
					<input type="text" 
					 ng-click="storeOriginal(todo)" 
					 ng-model="todo.description" 
					 move-up="moveUp(todo)" 
					 move-down="moveDown(todo)" 
					 save-change="editDescription(todo)" 
					 ng-blur="editDescription(todo)" /> 
					<input type="checkbox" ng-model="todo.is_complete" ng-click="toggleCompletion(todo)">
					<h3>{{ todo.editError }}</h3>
				</div>
			</li>

		</ul>
	</div>

</div>

